@let stats = $stats()!;

<main>
    @if ($isLoading()) {
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    } @else if (stats.ofAll() === 0) {
    <h1>השם שחיפשת לא נמצא</h1>

    <mat-card appearance="outlined" class="not-found">
        <mat-card-content>
            <ul>
                <li>
                    ייתכן שהשם מופיע ב<strong>כתיב אחר</strong> (למשל נועה במקום
                    נעה) עקב עיבוד הנתונים ע"י הלשכה המרכזית לסטטיסטיקה.
                </li>
                <li>
                    שמות שנקראו בהם <strong>פחות מ־5 אנשים</strong> לא כלולים במאגר.
                </li>
            </ul>
        </mat-card-content>

    </mat-card>
    } @else {
    @let periodStats = $periodStats()!;

    <h1>שם: {{name()}}</h1>

    <h2>נתונים לפי קבוצת אוכלוסייה ודת</h2>

    <div class="religion-bar">
        @for (religion of religions; track religion) {
        @if (religion.slug !== "all") {
        <div class="religion-segment" [style.flex]="periodStats.ofReligion(religion).total"
            [class]="'religion-' + religion.slug">
        </div>
        }
        }
    </div>

    <div class="totals">
        @for (religion of religions; track religion) {
        <mat-card appearance="outlined" [class]="'religion-' + religion.slug">
            <mat-card-header>{{religion.icon}} {{religion.text}}</mat-card-header>
            <mat-card-content>
                <div class="content-with-bar">
                    @let genderRatio = stats.getGenderRatioOfReligion(religion);
                    @if (genderRatio === undefined) {
                    <div class="gender-bar gender-bar--empty"></div>
                    } @else {
                    <div class="gender-bar" [style.--ratio]="genderRatio"></div>
                    }
                    <mat-list>
                        @for (gender of genders; track gender) {
                        @let groupStats = periodStats.ofDemographic(religion, gender);

                        <mat-list-item>
                            <mat-icon [fontIcon]="gender.icon" matListItemIcon
                                [matTooltip]="gender.text" matTooltipPosition="after"></mat-icon>

                            @if (groupStats.total === 0) {
                            <span matListItemTitle matTooltip="פחות מ־5"
                                matTooltipPosition="before">—</span>
                            } @else {
                            <span matListItemTitle
                                [matTooltip]="groupStats.fraction | percent:'1.0-3'"
                                matTooltipPosition="before">{{
                             groupStats.total| number:'1.0-0'
                             }}</span>
                            }

                            @if (groupStats.total !== 0) {
                            <span matListItemLine>
                                {{(groupStats.percentile
                                ? `אחוזון ${groupStats.percentile}` 
                                : `עשירון ${groupStats.decile}`)}}
                            </span>
                            } @else {
                            <span matListItemLine></span>
                            }
                        </mat-list-item>
                        }
                    </mat-list>
                </div>
            </mat-card-content>
        </mat-card>
        }
    </div>
    }
</main>