@use "@angular/material" as mat;

:host {
    display: block;
    container-type: inline-size;
    margin: 0 auto;
}

section {
    max-inline-size: 90ch;
    margin: 0 auto 2em;
}

.not-found {
    max-inline-size: 60ch;
    margin: 0 auto;
}

.totals {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2ch;
    margin: 2ch 0;
}

@container (min-inline-size: 45ch) {
    .totals > :first-child {
        grid-column: 1 / span 2;
    }

    .totals {
        grid-template-columns: 1fr 1fr;
    }

    .religion-all .mat-mdc-card-content {
        display: grid;
        align-items: flex-start;
        grid-template-columns: 1fr 1fr;
    }
}

@container (min-inline-size: 70ch) {
    .totals > :first-child {
        grid-column: auto;
        grid-row: 1 / span 2;
    }

    .totals {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .religion-all .mat-mdc-card-content {
        display: block;
    }
}

.totals mat-icon {
    transform: scale(1.25);
}

.mat-mdc-list-item mat-icon,
.mat-mdc-list-item:hover mat-icon {
    color: var(--_color, var(--gender-color-all));

    &[fonticon="boy"] {
        --_color: var(--gender-color-men);
    }

    &[fonticon="girl"] {
        --_color: var(--gender-color-women);
    }
}

.content-with-bar {
    display: flex;
    justify-content: start;
    align-items: stretch;

    > :first-child {
        inline-size: 0.5ch;
        margin-block: 1ch;
        border-radius: 3px;
        overflow: hidden;
    }
}

.gender-bar {
    background: linear-gradient(
        to bottom,
        var(--gender-background-men) 0%,
        var(--gender-background-men) calc((1 - var(--ratio)) * 100%),
        var(--gender-background-women) calc((1 - var(--ratio)) * 100%),
        var(--gender-background-women) 100%
    );
}

.gender-bar--empty {
    background: var(--gender-background-all);
}

.religion-bar {
    display: flex;
    flex-direction: column;
    margin-inline-end: 2ch;
}

.religion-chart app-chart {
    flex: 1;
}

:host ::ng-deep {
    .religion-chart th {
        font: var(--mat-sys-body-large);
    }
}

.religion-segment {
    background: var(--religion-background);
}

.religion-all {
    --religion-color: var(--religion-color-all);
}

$religions: (
    jewish: 1,
    muslim: 2,
    druze: 3,
    christian: 4
);

@each $religion, $index in $religions {
    :host ::ng-deep .religion-chart tr:nth-child(#{$index}) {
        --color: light-dark(var(--religion-background-#{$religion}), var(--religion-color-#{$religion}));
    }
}

mat-card {
    & {
        --mat-card-outlined-outline-color: oklch(from var(--religion-color) l calc(c / 2) h);
        // background-color: var(--mat-sys-surface-container);
    }

    &:hover {
        opacity: calc(1 - var(--mat-sys-hover-state-layer-opacity));
    }
}

mat-card-header {
    padding-bottom: 1rem;
    border-start-start-radius: inherit;
    border-start-end-radius: inherit;
    justify-content: center;
    color: #fff;
    background-color: var(--religion-color);
    transition: background-color 200ms;
}

.time-chart {
    max-inline-size: 110ch;

    .mdc-card {
        &:has(.chart.column) {
            max-inline-size: max-content;
        }

        margin: 0 auto;
    }

    .chart.column {
        width: max-content;
    }
}

.time-chart-controls {
    display: flex;
    gap: 1ch;
    justify-content: center;
    flex-wrap: wrap;
    margin-block-end: 1em;
}

.religion-header {
    display: flex;
    gap: 1ch;
    align-items: center;
    padding: 0;
    margin: 0;
    font: var(--mat-sys-body-large-font);
    line-height: 1;

    img {
        height: 1em;
        width: auto;
        stroke: currentColor;
    }
}
