@use "@angular/material" as mat;

:host {
    display: block;
    max-width: 60ch;
    margin: 0 auto;
}

.search-methods {
    border-radius: var(--form-field-shape);
    border-end-start-radius: 0;
    border-end-end-radius: 0;
    border-bottom: 0;
}

:host::ng-deep {
    .search-input {
        margin-block-end: 1rem;

        @include mat.form-field-density(0);

        &,
        .mat-mdc-form-field-infix {
            width: 100%;
        }
    }

    .search-option {
        @include mat.form-field-density(-5);
        --mat-select-trigger-text-size: var(--mat-sys-body-medium-size);

        &,
        .mat-mdc-form-field-infix {
            min-width: max-content;
            width: auto;
        }

        .mat-mdc-select-trigger {
            display: flex;
            gap: 0.75ch;
        }
    }
}

.search-options {
    display: flex;
    overflow-x: auto;
    align-items: center;
    gap: 1ch;

    & > * {
        flex-shrink: 0;
    }
}

.result-count {
    min-width: max-content;
    margin-inline-end: auto;
}

.results {
    margin-block: 0.5rem;

    --mat-ripple-color: hsl(from var(--mat-sys-surface-variant) h s calc(l * 0.8) / 10%);
    // --mat-ripple-color: hsl(from white h s l / 10%);
}

.result {
    display: flex;
    height: 70px; // Fixed size for virtual scrolling container
    align-items: center;
}

.result-link {
    display: flex;
    width: 100%;
    padding-inline: 2ch;

    gap: 2ch;
    align-items: center;
    justify-content: space-between;

    background-color: var(--mat-sys-surface);
    border-style: solid;
    border-width: 1px;
    border-color: var(--mat-sys-outline-variant);
    border-radius: var(--mat-sys-corner-medium);
    outline: none;
    box-shadow: var(--mat-sys-level0);

    font-size: 16px; // Fixed size for virtual scrolling container
    line-height: 1em;
    color: var(--mat-sys-on-surface);
    text-decoration: none;

    &:focus-within,
    &:hover {
        background: var(--mat-sys-surface-variant);
        color: var(--mat-sys-on-surface-variant);
    }

    h2 {
        font: var(--mat-sys-title-large);
        font-size: 1.2em;
        line-height: 1em;
        margin-block: 1em;
    }
}
