<main>
    <header>
        <h1 class="visually-hidden">חיפוש שמות</h1>

        <form class="search-form" (ngSubmit)="search(inputElement.value || '')">
            <mat-button-toggle-group class="search-method-tabs" aria-label="סוג החיפוש"
                hideSingleSelectionIndicator [value]="$searchMode()"
                (change)="setSearchOption('mode', $event.value)">
                <mat-button-toggle value="soundex">חיפוש שמות דומים</mat-button-toggle>
                <mat-button-toggle value="phrase">חיפוש מדויק</mat-button-toggle>
            </mat-button-toggle-group>

            <mat-form-field class="search-input" subscriptSizing="dynamic" appearance="outline"
                aria-label="שם לחיפוש">
                <mat-icon fontIcon="search" matPrefix></mat-icon>
                <input #inputElement type="text" placeholder="שם לחיפוש..." matInput
                    [value]="$query()" (focus)="inputElement.select()">
            </mat-form-field>

            <div style="display: flex; align-items: center; gap: 1ch;">
                <span style="margin-inline-end: auto;">
                    {{ $query() && $results.hasValue() 
                       ? `${$results.value().length | number} תוצאות`
                       : '' }}
                </span>

                <mat-icon role="presentation" fontIcon="filter_list"></mat-icon>

                @if ($searchMode() === 'soundex') {
                <mat-form-field subscriptSizing="dynamic" appearance="outline" class="select-input">
                    <mat-select [value]="$soundexSearchMode()"
                        (selectionChange)="setSearchOption('soundex-mode', $event.value)">
                        <mat-option value="exact">התאמה מלאה</mat-option>
                        <mat-option value="prefix">התאמת תחילית</mat-option>
                    </mat-select>
                </mat-form-field>
                }

                <mat-form-field subscriptSizing="dynamic" appearance="outline" class="select-input">
                    <mat-select [value]="$minPopulation()"
                        (selectionChange)="setSearchOption('min-population', $event.value)">
                        <mat-select-trigger>{{$minPopulation() | number}}+
                            אנשים</mat-select-trigger>
                        @if (!minPopulationOptions.includes($minPopulation())) {
                        <mat-option
                            [value]="$minPopulation()">{{$minPopulation() | number}}</mat-option>
                        }
                        @for (option of minPopulationOptions; track option) {
                        <mat-option [value]="option">{{option | number}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
    </header>

    @if ($results.isLoading()) {
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    } @else if ($results.error()) {
    <p>התרחשה שגיאה בעת טעינת הנתונים.</p>
    <p>נא לרענן את העמוד או לנסות שוב מאוחר יותר.</p>
    } @else {
    <!-- flicker supposedly ficked in next patch https://github.com/angular/components/pull/31316 -->
    <section class="results">
        <cdk-virtual-scroll-viewport #resultsViewport scrollWindow [itemSize]="itemSize"
            [minBufferPx]="itemSize * 10" [maxBufferPx]="itemSize * 20"
            (scrolledIndexChange)="onScrollIndexChange($event)">
            <ng-container *cdkVirtualFor="let result of $results.value()">
                <ng-container
                    *ngTemplateOutlet="resultTemplate; context: { $implicit: result }"></ng-container>
            </ng-container>
        </cdk-virtual-scroll-viewport>
    </section>
    }
</main>

<ng-template #resultTemplate let-result>
    <div class="result">
        <a class="result-link" [routerLink]="['/name', result]" matRipple>
            <h2>{{ result }}</h2>
            <mat-icon class="arrow-icon mat-icon-rtl-mirror" aria-hidden="true"
                fontIcon="chevron_right" aria-hidden="true"></mat-icon>
        </a>
    </div>
</ng-template>