<nav class="demographic-selection" aria-label="קבוצת דמוגרפיה">
    <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-label>מגדר</mat-label>
        <mat-select [value]="$genderSlug()"
            (selectionChange)="onDemographicSelection('gender', $event)">
            @for (gender of genders; track gender) {
            <mat-option [value]="gender.slug">{{gender.text}}</mat-option>
            }
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-label>דת</mat-label>
        <mat-select [value]="$religionSlug()"
            (selectionChange)="onDemographicSelection('religion', $event)">
            @for (religion of religions; track religion) {
            <mat-option [value]="religion.slug">{{religion.text}}</mat-option>
            }
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" subscriptSizing="dynamic" class="large-selection">
        <mat-label>תקופה</mat-label>
        <mat-select [value]="$periodSlug()"
            (selectionChange)="onDemographicSelection('period', $event)">
            @for (yearPeriod of yearPeriods; track $index) {
            <mat-option [value]="yearPeriod.slug">{{yearPeriod.description}}</mat-option>
            }
        </mat-select>
    </mat-form-field>
</nav>

@let gender = $gender();

<main [style.--color]="`var(--gender-background-${gender.slug})`">

    <h1>
        <span>שמות ישראל: </span><wbr>
        <span>{{$demographicTitle() ? `${$demographicTitle()} – ` : ''}}</span><wbr>
        <span dir="rtl">{{$period().description}}</span><wbr>
        <span dir="rtl"> ({{$period() | yearPeriod }})</span>
    </h1>


    @if ($groupStats(); as groupStats) {

    <mat-chip-set class="demographic-profile">
        <mat-chip>{{groupStats.nameTotal | number:'1.0-0'}} שמות</mat-chip>
        <mat-chip>{{groupStats.populationTotal | number:'1.0-0'}} אנשים</mat-chip>
        <mat-chip>{{
            1000 * groupStats.nameTotal / groupStats.populationTotal | number:'1.0-1'
            }} שמות ל-1,000 איש</mat-chip>
        <mat-chip>{{
            groupStats.populationTotal / groupStats.nameTotal | number:'1.0-1'
            }} אנשים לשם</mat-chip>
    </mat-chip-set>

    <article class="top-names">
        <h2>{{groupStats.topNames.length}} השמות הכי פופולריים</h2>
        <app-chart mode="bar-list">
            <app-chart-data-axis label="דירוג" data="index-with-dot"></app-chart-data-axis>
            <app-chart-data-axis label="שם" [data]="groupStats.topNames"
                key="name"></app-chart-data-axis>
            <app-chart-dataset label="אוכלוסייה" [data]="groupStats.topNames"
                key="total"></app-chart-dataset>
        </app-chart>
    </article>

    <article class="deciles">
        <h2>התפלגות השמות</h2>

        @let decileData = $deciles()!;
        @let topDecileData = $topDeciles()!;

        <section>
            <h3>עשירונים – תקרת אוכלוסייה</h3>
            <app-chart mode="column">
                <app-chart-data-axis label="עשירון" [data]="decileData"
                    key="index"></app-chart-data-axis>
                <app-chart-dataset label="תקרת אוכלוסייה" [data]="decileData"
                    key="ceiling"></app-chart-dataset>
            </app-chart>
        </section>

        <section>
            <h3>העשירון העליון – תקרת אוכלוסייה</h3>
            <app-chart mode="column">
                <app-chart-data-axis label="מאיון (אחוזון)" [data]="topDecileData"
                    key="index"></app-chart-data-axis>
                <app-chart-dataset label="תקרת אוכלוסייה" [data]="topDecileData"
                    key="ceiling"></app-chart-dataset>
            </app-chart>
        </section>

        <section>
            <h3>עשירונים – סה"כ אוכלוסייה</h3>
            <app-chart mode="column">
                <app-chart-data-axis label="עשירון" [data]="decileData"
                    key="index"></app-chart-data-axis>
                <app-chart-dataset label="אוכלוסייה" [data]="decileData"
                    key="total"></app-chart-dataset>
            </app-chart>
        </section>

        <section>
            <h3>העשירון העליון – סה"כ אוכלוסייה</h3>
            <app-chart mode="column">
                <app-chart-data-axis label="מאיון (אחוזון)" [data]="topDecileData"
                    key="index"></app-chart-data-axis>
                <app-chart-dataset label="אוכלוסייה" [data]="topDecileData"
                    key="total"></app-chart-dataset>
            </app-chart>
        </section>
    </article>


    } @else if ($stats.isLoading()) {

    <p>בטעינה...</p>

    } @else {

    <p>התרחשה שגיאה בעת טעינת הנתונים.</p>
    <p>נא לרענן את העמוד או לנסות שוב מאוחר יותר.</p>

    }

</main>