@use "@angular/material" as mat;

$max-inline-size: 70ch;

:host {
    display: block;
    max-width: $max-inline-size;
    margin: 0 auto;
}

.demographic-selection {
    @include mat.form-field-density(-3);
}

.demographic-selection {
    --_padding_block: 1rem;

    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    justify-content: safe center; // safe for overflow
    gap: 1ch;

    inline-size: 100%;
    padding: var(--_padding_block) 1ch;
    overflow-x: auto;

    position: sticky;
    inset-block-start: 0;
    inset-inline: 0;
    z-index: 2;

    background: var(--mat-sys-background);

    @media ((prefers-reduced-motion: no-preference) 
        and (prefers-reduced-transparency: no-preference)) {
        background: linear-gradient(
            to bottom,
            hsl(from var(--mat-sys-background) h s l / 0.3) 0%,
            hsl(from var(--mat-sys-background) h s l / 0.8) calc(var(--_padding_block) / 2),
            hsl(from var(--mat-sys-background) h s l / 0.8) 100%
        );

        backdrop-filter: blur(8px);

        mask-image: linear-gradient(
            to bottom,
            black 0%,
            black calc(100% - var(--_padding_block) / 2),
            transparent 100%
        );
    }

    .mat-mdc-form-field {
        min-inline-size: 10ch;
        max-inline-size: 15ch;

        &.large-selection {
            max-inline-size: 20ch;
        }
    }
}

// Keep outside of .demographic-selection since it's in an overlay
// Keep element name instead of .mat-mdc-option to catch view encapsulation binding
mat-option {
    --mat-option-label-text-size: var(--mat-sys-label-large-size);
    padding: 1ch 1.5ch;
}

.demographic-profile {
    max-inline-size: 40ch;
    margin: 0 auto;
}

h1 span {
    white-space: nowrap;
}

.basic-summary {
    max-width: max-content;
    margin: 0 auto;
}

.quantile-controls,
.quantile-controls > div {
    display: flex;
    gap: 2ch;
    flex-wrap: wrap;
    justify-content: center;
}
