@use "@angular/material" as mat;

$max-inline-size: 70ch;

:host {
    display: block;
    max-width: $max-inline-size;
    margin: 0 auto;
}

.demographic-selection {
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    justify-content: safe center; // safe for overflow
    gap: 1ch;

    inline-size: 100%;
    padding: 1rem 1ch;
    overflow-x: auto;

    position: sticky;
    inset-block-start: 0;
    inset-inline: 0;
    z-index: 1;

    background: var(--mat-sys-background);
    backdrop-filter: blur(8px);

    .mat-mdc-form-field {
        min-inline-size: 10ch;
    }
}

mat-option {
    // keep outside of .demographic-selection since it's in an overlay

    --mat-option-label-text-size: 0.8rem;
    padding: 1ch 1rem;
}

@media (width > $max-inline-size) {
    .demographic-selection {
        border-end-start-radius: 1rem;
        border-end-end-radius: 1rem;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .demographic-selection {
        background: hsl(from var(--mat-sys-background) h s l / 0.8);
    }
}

.demographic-profile {
    max-inline-size: 40ch;
    margin: 0 auto;
}

h1,
h2,
h3,
p {
    text-align: center;
}

h1 span {
    white-space: nowrap;
}

.basic-summary {
    max-width: max-content;
    margin: 0 auto;
}

// .chart {

//         td:not(.chart-label) {
//             background-color: var(--color, var(--mat-sys-secondary-container));
//             color: var(--mat-sys-on-secondary-container);
//         }
//     }
