@use "@angular/material" as mat;

*,
*::before,
*::after {
    box-sizing: border-box;
}

$font-family: "Segoe UI", sans-serif;

$density: -2;

$theme: mat.define-theme(
    (
        color: (
            primary: mat.$azure-palette
        ),
        typography: (
            plain-family: $font-family,
            brand-family: $font-family
        ),
        density: (
            scale: $density
        )
    )
);

html {
    min-width: 20ch;
    height: 100%;
    padding: 0;
    margin: 0;
    scrollbar-gutter: stable;
    color-scheme: light;

    @include mat.theme(
        (
            color: mat.$azure-palette,
            typography: $font-family,
            density: $density
        )
    );

    @include mat.chips-density(0);

    --gender-color-all: #{mat.m2-get-color-from-palette(mat.$m2-gray-palette, 600)};
    --gender-color-men: #{mat.m2-get-color-from-palette(mat.$m2-blue-palette, 400)};
    --gender-color-women: #{mat.m2-get-color-from-palette(mat.$m2-pink-palette, 400)};

    --religion-color-all: var(--gender-color-all);

    // --religion-color-jewish: #184d8b;
    // --religion-color-muslim: #29a333;
    // --religion-color-christian: #be2328;
    // --religion-color-druze: #ff9800;

    --religion-color-jewish: hsl(212, 65%, 55%);
    --religion-color-muslim: hsl(125, 90%, 35%);
    --religion-color-christian: hsl(358, 60%, 60%);
    --religion-color-druze: hsl(36, 100%, 50%);
}

body {
    min-height: 100%;
    max-width: 100ch;
    margin: 0 auto;
    padding: 1rem 0 2rem;
    font-family: $font-family;
}

// @include mat.typography-hierarchy($theme);

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-block: 1rem;
    text-wrap: balance;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.5em;
}

p {
    text-wrap: pretty;
}

.visually-hidden {
    height: 1px;
    width: 1px;
    margin: 0;
    padding: 0;
    border: 0;
    position: absolute !important;
    clip-path: inset(50%);
    overflow: hidden;
    white-space: nowrap;
    user-select: none;
}

.mdc-evolution-chip-set__chips {
    // for demographics-dashboard. no option to customize.
    justify-content: center;
}

main {
    margin-inline: 1ch;
}
