@use "@angular/material" as mat;

*, *::before, *::after {
  box-sizing: border-box;
}

$font-family: "Segoe UI", sans-serif;

$theme: mat.define-theme(
    (
        color: (
            primary: mat.$azure-palette
        ),
        typography: (
            plain-family: $font-family,
            brand-family: $font-family
        ),
        density: (
            scale: -2
        )
    )
);

html {
    min-width: 20ch;
    height: 100%;
    margin: 0;
    padding: 0;
    scrollbar-gutter: stable;
    color-scheme: light;

    @include mat.theme(
        (
            color: mat.$azure-palette,
            typography: $font-family,
            density: -2
        )
    );

    --gender-color-all: #{mat.m2-get-color-from-palette(mat.$m2-gray-palette, 600)};
    --gender-color-men: #{mat.m2-get-color-from-palette(mat.$m2-blue-palette, 400)};
    --gender-color-women: #{mat.m2-get-color-from-palette(mat.$m2-pink-palette, 400)};

    --religion-color-all: var(--gender-color-all);

    // --religion-color-jewish: #184d8b;
    // --religion-color-muslim: #29a333;
    // --religion-color-christian: #be2328;
    // --religion-color-druze: #ff9800;

    --religion-color-jewish: hsl(212, 65%, 55%);
    --religion-color-muslim: hsl(125, 90%, 35%);
    --religion-color-christian: hsl(358, 60%, 60%);
    --religion-color-druze: hsl(36, 100%, 50%);
}

body {
    min-height: 100%;
    max-width: 100ch;
    margin: 0 auto;
    padding: 1rem 1ch 2rem;
    font-family: $font-family;
}

// @include mat.typography-hierarchy($theme);

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}
