@use "@angular/material" as mat;

// reset

*,
*::before,
*::after {
    box-sizing: border-box;
}

// material

$font-family: "Segoe UI", sans-serif;

$density: -1;

$theme: mat.define-theme(
    (
        color: (
            primary: mat.$azure-palette
        ),
        typography: (
            plain-family: $font-family,
            brand-family: $font-family
        ),
        density: (
            scale: $density
        )
    )
);

:root {
    @include mat.theme(
        (
            color: mat.$azure-palette,
            typography: $font-family,
            density: $density
        )
    );
}

// @include mat.typography-hierarchy($theme);

// material overrides
:root {
    // for demographics-dashboard. no option to customize.
    .mdc-evolution-chip-set__chips {
        justify-content: center;
    }

    // for demographic selection in mobile. prevents cropping of outlined label.
    .mat-mdc-form-field-type-mat-select.mat-form-field-appearance-outline .mdc-notched-outline__notch {
        text-overflow: ellipsis;
        max-inline-size: calc(100% - 3ch);
    }

    // buggy in RTL
    [dir="rtl"] .mdc-list-item--with-leading-icon .mdc-list-item__start {
        margin-inline: 0.5ch;
    }

    .cdk-overlay-pane:has(> .mat-mdc-select-panel) {
        min-width: max-content;
    }

    mat-progress-spinner {
        block-size: 2em !important;
        inline-size: 2em !important;
        margin: 1em auto;
    }
}

// global app styles

:root {
    min-width: 20ch;
    color-scheme: light;
    height: 100%;
    padding: 0;
    margin: 0;
    font: var(--mat-sys-body-medium);

    /*
    * Initially added scrollbar-gutter as a progressive enhancement.
    * Replaced with scroll due to unexpected behavior in Chrome (works in Firefox).
    * The scrollbar placeholder width is included in clientWidth.
    * This causes improper positioning of Angular's overlays (e.g. autocomplete panel).
    */
    // scrollbar-gutter: stable;
    overflow-y: scroll;

    --gender-color-all: #{mat.m2-get-color-from-palette(mat.$m2-gray-palette, 600)};
    --gender-color-men: #{mat.m2-get-color-from-palette(mat.$m2-blue-palette, 400)};
    --gender-color-women: #{mat.m2-get-color-from-palette(mat.$m2-pink-palette, 400)};

    --gender-background-men: light-dark(hsl(200 70% 85%), hsl(200 50% 30%));
    --gender-background-women: light-dark(hsl(330 70% 91%), hsl(330deg 40% 30%));
    --gender-background-all: color-mix(in lab, var(--gender-background-women), var(--gender-background-men));

    --religion-color-all: var(--gender-color-all);

    // --religion-color-jewish: #184d8b;
    // --religion-color-muslim: #29a333;
    // --religion-color-christian: #be2328;
    // --religion-color-druze: #ff9800;

    --religion-color-jewish: hsl(212, 65%, 55%);
    --religion-color-muslim: hsl(125, 90%, 35%);
    --religion-color-christian: hsl(358, 60%, 60%);
    --religion-color-druze: hsl(36, 100%, 50%);
}

body {
    min-height: 100%;
    max-width: 100ch;
    margin: 0 auto;
    padding: 0 0 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-block: 1rem;
    line-height: 1.25em;
    text-wrap: balance;
    text-align: center;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.5em;
}

p,
li {
    text-wrap: pretty;
}

p {
    text-align: center;
}

.visually-hidden {
    height: 1px;
    width: 1px;
    margin: 0;
    padding: 0;
    border: 0;
    position: absolute !important;
    clip-path: inset(50%);
    overflow: hidden;
    white-space: nowrap;
    user-select: none;
}

main {
    margin-inline: 1ch;
}

ul,
li {
    margin-block-start: 0;
}

li {
    margin-block-end: 1rem;

    &:last-child {
        margin-block-end: 0;
    }
}

.chart {
    th {
        font: var(--mat-sys-title-medium);
        font-weight: var(--mat-sys-body-large-weight);
    }

    th:first-child:not(:only-of-type) {
        font: var(--mat-sys-title-medium);
    }
}
